*   {
    padding: 0; margin: 0; 
}
div#header{

    background-color : #f9fafb;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    height: 70px;
    opacity: 0.95;
}

div#logo{
    float:left;
    width:50px;
    left: 20%;
    position: absolute;
}

ul.nav{
    float:left;
    list-style:none;
    width:auto;
    height: auto;
    left: 55%;
    top: 20px;
    position:absolute;
}

ul.nav li{
    float:left;
}

ul.nav li :hover{
    background-color:cornflowerblue;
    border-radius: 40px;
}

ul.nav a{
    line-height:40px;
    color: black;
    padding:0 15px;
    text-decoration: none;
}

.contents01{
    width: 100%; height: 910px;
            
    /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
    background-image: url(../img/IMagineMainpage.jpeg);
    background-repeat: no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: scroll; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.contents01 .textcontent {
    width: 100%;
    position: absolute;
    color: white;
    top:321px;
    text-align: center;
    font-size: 64px;
    
}

.movility {
    width: 100%;
    height: 600px;
    background-color: #F9FAFB;
}
.movility .mobility-text1 {
    position: relative;
    width: 150px;
    height: auto;
    left: 30%;
    top: 5%;
}
.movility .mobility-text2 {
    position: relative;
    width: 900px;
    height: auto;  
    font-size: 30px;
    top: 10%;
    left: 29.5%;
}
.movility .mobility-text3 {
    position: relative;
    width: 900px;
    height: auto;  
    font-size: 25px;
    top: 25%;
    left: 29.5%;
}
.mission_vision {
    position: relative;
    width: 100%;
    height: 920px;

} 
.mission_vision .mission{
    width: auto;
    height: auto;
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 10%;
}
.mission_vision .vission{
    width: auto;
    height: auto;
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 20%;
}
@media screen and (max-width: 768px){
    #header {
        flex-direction: column;
    }
}